.App {
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.App-logo {
	height: 200px;
}

input {
	border: 1px solid #1e8678;
}

.show-body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.App-header {
	background-color: #5d71bfd4;
	height: 200px;
	padding: 20px;
	color: #222;
}

.App-title {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

cite {
	font-weight: bold;
}

table {
	align-content: center;
	margin: auto;
}

td {
	padding: 10px;
}

.App-intro {
	font-size: large;
}

.cap-first-letter:first-letter {
	text-transform: capitalize;
}

.col-sm-6,
col-md-4 {
	border: 1px;
}

.hometext {
	max-width: 60%;
	margin-bottom: 50px;
	font-size: 30px;
	color: #474d6c;
}

.link {

	background-color: whitesmoke;
	width: 320px;
	padding: 0.4rem 0.8rem;
	border-radius: 3px;
	border: 2px solid rgb(144, 150, 192);
	margin: 5px;
	color: #53539b;
	text-decoration: none !important;
}

.prevnextlink {
	background-color: white;
	width: 320px;
	padding: 0.4rem 0.5rem;
	margin: 300px;
	color: #6f9e74;
	text-decoration: none !important;
	font-weight:bold
}

.disableprevnextlink {
	background-color: white;
	width: 320px;
	padding: 0.4rem 0.5rem;
	margin: 300px;
	color: gray;
	text-decoration: none !important;
	font-weight:bold
}



.link:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
}

li {
	padding: 20px;
}

p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div {
	text-align: center;
}

a {
	color: #1e8678;
	text-decoration: none !important;
}

ul a:hover {
	background-color: transparent;
	color: blue;
}

ul {
	list-style: none;
}

.title {
	font-weight: bold;
	color: #1e8678;
}

.name {
	font-weight: bold;
	color: #1d92c4;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input {
		font-size: 16px;
	}
}

dt,
dl {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dt {
	display: inline-block;
}

dd {
	display: inline;
	margin-left: 5px;
}